<div class="container mt-3" style="padding: 90px">

  <h1>New Bookmark</h1>

  <%= simple_form_for @bookmark do |f| %>
  <%= f.association :movie %>
  <%= f.association :list %>
  <%= f.input :comment %>
  <%= f.button :submit %>
  <% end %>

</div>

